{
  "extends": "airbnb",
  "env": {
    "browser": "true"
  },

  "rules": {
    "ignorePatterns": ["*.js", "*.d.ts"],
    "no-console": "off",
    "no-restricted-globals": "off",
    "react/prop-types": "off",
    "import/extensions": [
      "error",
      "always",
      {
        "ignorePackages": true
      }
    ]
  }
}
