.my-message-content-patientSummary {
    font-size: small;
    padding: 0.4rem 0.8rem;
    border-radius: 15px;
    color: rgba(255, 255, 255, 1);
    background: rgba(50,150,50,0.7);
}

.message-content-patientSummary {
    font-size: small;
    padding: 0.4rem 0.8rem;
    border-radius: 15px;
    color: rgba(255, 255, 255, 1);
    background: rgba(50,150,50,0.7);
}

.message-content-patientSummary:hover {
    cursor: pointer;
    background: rgba(50,150,50,1);
}

.my-message-content-patientSummary:hover {
    cursor: pointer;
    background: rgba(50,150,50,1);
}


/* card scrolling on side bars*/
.scroll {
    max-height: 400px;
    overflow-y: auto;
}

.hscroll {
    overflow-x: scroll;
}



/*
*
*  Sidebars, styles, content styling, scrolling
*
 */

/* standard list items in the sidebars */
.my-list-item {
    margin-top: 3px;
    margin-bottom: 1px;
    margin-left: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* scrolling if the sidebar cards */
.scroll-user-search {
    height: 20vh;
    max-height: 100vh;
    overflow-y: auto;
}

.scroll-patient-search {
    height: 30vh;
    max-height: 30vh;
    overflow-y: auto;
}
.scroll-open-patients {
    height: 40vh;
    max-height: 40vh;
    overflow-y: auto;
}

.scroll-favourite-users {
    height: 20vh;
    max-height: 100vh;
    overflow-y: auto;
}

.scroll-blocked-users {
    height: 20vh;
    max-height: 100vh;
    overflow-y: auto;
}

.scroll-chatlogs {
    height: 30vh;
    max-height: 100vh;
    overflow-y: auto;
}

.scroll-appointment-type-detail {
    height: 40vh;
    max-height: 40vh;
    overflow-y: auto;
}

.scroll-appointment-type-list {
    height: 30vh;
    max-height: 30vh;
    overflow-y: auto;
}



/*
*
*  Main screen
*
 */
.root {
    width: 100vw;
    height: 100vh;
    /*background-image: url('../img/landscape.jpg');*/
    /*background-size: cover;*/
    /*background-repeat: repeat-y;*/
    padding-top: 10px;
}

.root-login {
    width: 100vw;
    height: 100vh;
    background-image: url('../img/appointment.jpg');
    background-size: cover;
    background-repeat: repeat-y;
    padding-top: 110px;
}

.root-registration {
    width: 100vw;
    height: 100vh;
    background-image: url('../img/appointment.jpg');
    background-size: cover;
    background-repeat: repeat-y;
    padding-top: 110px;
}





@media screen and (max-width: 768px) {
    .root-login {
        background-size: contain;
        background-repeat: no-repeat;
    }

    .root-registration {
        background-size: contain;
        background-repeat: no-repeat;
    }

}


