<div id="appointmentTypesSideBar" class="sidebar-left bg-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 pb-3 align-items-end">
                <button type="button" class="close text-white" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="col-12">
                <div class="card" id="appointmentTypesContainer">
                    <div class="card-header">Appointment Types</div>
                    <div class="card-body scroll-appointment-type-list">
                        <div id="appointmentTypes" class="list-group list-group-flush">
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary" id="addNewAppointmentType">Add New Appointment Type&nbsp;<i class="fas fa-calendar-check"></i></button>
                        </div>
                    </div>
                </div>
                <div class="card mt-3" id="appointmentTypeContainer">
                    <div class="card-body scroll-appointment-type-detail">
                        <div id="appointmentTypeDetail">
                            <div id="appointmentTypeColour" class="d-none floating-box"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>