<div id="patientSearchSideBar" class="sidebar-left bg-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 pb-3 align-items-end">
                <button type="button" class="close text-white" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="col-12">
                <div class="card" id="patientSearchZone">
                    <div class="card-header">Patient Search <i class="fas fa-search"></i></div>
                    <div class="card-body scroll-patient-search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="name" id="fastPatientSearch"
                                   data-source="fastPatientSearch">
                        </div>
                        <div id="recentPatientSearches" class="list-group list-group-flush">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>