<div id="appointmentTemplates" class="container-fluid d-none">
    <div class="row">
        <div class="col-sm-12 col-md-9">
            <div class="col-12">
                <!-- scheduler here -->
                <div id="templateDetail"></div>
            </div>
        </div>
        <div class="col-sm-12 col-md-3">
            <div id="providerFilter">
                <div class="mbsc-form-group-title">Providers</div>
            </div>
        </div>
    </div>

</div>