<div id="appointmentBook" class="container-fluid d-none">
    <div class="row">
        <div class="col-sm-12 col-md-5">
            <!-- date picker here -->
            <div id="calendarControl">

            </div>
        </div>
        <div class="col-sm-12 col-md-7">
            <div id="providers">
                <div class="mbsc-form-group-title">Providers</div>
            </div>
            <!--            <div id="calendarFilter">-->
            <!--                <div class="mbsc-form-group-title">Change View</div>-->
            <!--                <label>Week<input mbsc-segmented type="radio" name="view" value="week" class="md-view-change"></label>-->
            <!--                <label>Day<input mbsc-segmented type="radio" name="view" value="day" class="md-view-change" checked></label>-->
            <!--            </div>-->
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <!-- scheduler here -->
            <div id="calendarDetail"></div>
        </div>
    </div>
</div>