<div id="appointmentBook" class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-5">
            <!-- date picker here -->
            <div id="calendarControl">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <!-- scheduler here -->
            <div id="calendarDetail"></div>
        </div>
    </div>
</div>