<div id="today" class="container-fluid d-none">
    <div class="row">
        <div class="col-sm-12 col-md-3">
            <div id="todayDetail"></div>
        </div>
        <div id="patients" class="col-sm-12 col-md-9">
        </div>
    </div>
</div>