<head>
    <title>Patient Booking System</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="icon" href="notebook.svg">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <!--    <link href="dist/mobiscroll4/mobiscroll.javascript.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="/css/appointment.css">
    <link href="dist/mobiscroll5/mobiscroll.javascript.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/farbtastic.css">
    <link rel="stylesheet" href="/css/ui-framework.css">
    <link rel="stylesheet" href="/css/App.css">

    <script src="/dist/mobiscroll5/mobiscroll.javascript.min.js"></script>
    <script>
        // Save the mobiscroll 5 object to know which is which-->
        window.mobiscroll5 = mobiscroll;
    </script>

</head>
