<div id="add-appointment-template-popup">
    <div class="mbsc-form-group">
        <label class="">
            <select mbsc-dropdown data-label="Type" id="event-appt-type-template"></select>
        </label>
        <label>
            <select mbsc-dropdown data-label="Select Provider" id="event-provider-template"></select>
        </label>
    </div>
    <div class="mbsc-form-group ">
        <label for="start-input-template">
            Starts
            <input mbsc-input id="start-input-template" />
        </label>
        <label for="end-input-template">
            Ends
            <input mbsc-input id="end-input-template" />
        </label>
        <div id="event-date-template"></div>
        <div class="mbsc-button-group">
            <button class="mbsc-button-block" id="event-delete-template" mbsc-button data-color="danger" data-variant="outline">Delete event</button>
        </div>
    </div>
</div>
