<div id="add-appointment-popup">
    <div class="mbsc-form-group mbsc-ios">
        <label>
            Title
            <input mbsc-input id="event-title">
        </label>
        <label>
            Description
            <textarea mbsc-textarea id="event-desc"></textarea>
        </label>
    </div>
    <div class="mbsc-form-group">
        <label class="mbsc-ios">
            <select mbsc-dropdown data-label="Type" id="event-appt-type"></select>
        </label>
        <label>
            <select mbsc-dropdown data-label="Select Provider" id="event-provider"></select>
        </label>
        <label>
            <select mbsc-dropdown data-label="Find Patient" id="event-patient"></select>
        </label>
        <label>
            <textarea mbsc-textarea id="patient-warning"></textarea>
        </label>
    </div>
    <div class="mbsc-form-group mbsc-ios">
        <label for="start-input">
            Starts
            <input mbsc-input id="start-input" />
        </label>
        <label for="end-input">
            Ends
            <input mbsc-input id="end-input" />
        </label>
        <div id="event-date"></div>
        <div class="mbsc-button-group">
            <button class="mbsc-button-block" id="event-arrived" mbsc-button data-color="primary" data-variant="outline">Patient Arrived</button>
            <button class="mbsc-button-block" id="event-readyforbilling" mbsc-button data-color="info" data-variant="outline">Ready For Billing</button>
            <button class="mbsc-button-block" id="event-billingcompleted" mbsc-button data-color="info" data-variant="outline">Billing Complete</button>
            <button class="mbsc-button-block" id="event-cancelled" mbsc-button data-color="warning" data-variant="outline">Patient Cancelled</button>
            <button class="mbsc-button-block" id="event-dna" mbsc-button data-color="warning" data-variant="outline">Did Not Arrive</button>
            <button class="mbsc-button-block" id="event-delete" mbsc-button data-color="danger" data-variant="outline">Delete event</button>
        </div>
    </div>
</div>
