<div id="add-appointment-template-popup">
    <div class="mbsc-form-group">
        <label class="mbsc-ios">
            <select mbsc-dropdown data-label="Type" id="event-appt-type"></select>
        </label>
        <label>
            <select mbsc-dropdown data-label="Select Provider" id="event-provider"></select>
        </label>
    </div>
    <div class="mbsc-form-group mbsc-ios">
        <label for="start-input">
            Starts
            <input mbsc-input id="start-input" />
        </label>
        <label for="end-input">
            Ends
            <input mbsc-input id="end-input" />
        </label>
        <div id="event-date"></div>
        <div class="mbsc-button-group">
            <button class="mbsc-button-block" id="event-delete" mbsc-button data-color="danger" data-variant="outline">Delete event</button>
        </div>
    </div>
</div>
